div {
    .CardBackground {
        height:'200px' ; 
        background-size:'90%';
        background-position:'center';
        background-repeat:'no-repeat';
        margin-top:'15px'
    }
}
.background-modify-button {
    display: none;
}